:root {
	font-size: 20px;
}

.screenSize {
	background-image: url("bck.jpg");
	height: 97vh;
	box-sizing: border-box;
	border: solid 5px blue;
}

.collGroupContainer1{
	margin-top: 1vh;
	display: flex;
	width: 98vw;
	flex-direction: column;
}

.collGroup {
	height: 8vh;
	width: 92%;
	margin: 0vh 2vw 0vh 2vw;
	padding: 0vh 2vw 0vh 2vw;
	display: flex;
	align-items: center;
	border: solid 1px blue;
}

.group1:hover {
	text-decoration: underline;
	color: white;
}

.collSubGroup1 {
	width: 92%;
	margin: 0vh 2vw 0vh 2vw;
	padding: 0vh 2vw 0vh 2vw;
	display: none;
	border: solid 1px red;
}

.collGroupContainer2{
	display: flex;
	width: 98vw;
	flex-direction: column;
}

.group2:hover {
	text-decoration: underline;
	color: white;
}

.collSubGroup2 {
	width: 92%;
	margin: 0vh 2vw 0vh 2vw;
	padding: 0vh 2vw 0vh 2vw;
	display: none;
	border: solid 1px red;
}

.collGroupContainer3{
	display: flex;
	width: 98vw;
	flex-direction: column;
}

.group3:hover {
	text-decoration: underline;
	color: white;
}

.collSubGroup3 {
	width: 92%;
	margin: 0vh 2vw 0vh 2vw;
	padding: 0vh 2vw 0vh 2vw;
	display: none;
	border: solid 1px red;
}

.location{
	margin: 1vh;
	height: 8vh;
	width: 99%;
	display: flex;
	justify-content: center;
}

.btnArea {
	border: solid 1px red;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 25vw;
	background-color: white;
}







