:root {
	font-size: 16px;
}

.screenSize {
	background-color: #cc99ff;
	height: 97vh;
	box-sizing: border-box;
	border: solid 5px blue;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.btnArea {
	height: 15vh;
	width: 25vw;
	background-color: green;
}

.area {
	height: 15vh;
	width: 25vw;
	border: solid 5px black;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: white;
}

.overlay {
	display: none;
	position: absolute;
	background-color: white;
	top:15vh;
	left:15vw;
	height: 60vh;
	width: 60vw;
	border: solid 5px black;
}

.modalHeading {
	height: 20%;
	border: solid 5px blue;
	
}
.heading{
	margin-left: 10px;
	margin-right: 10px;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.heading:after  {
	width: 80%;
	height: 2px;
	content: "";
	background-color: red;
	//left: 50%;
	transform: translate(10%,0);
	position: absolute;
	top: 20.8%;
}
.modalContent {
	height: 50%;
	border: solid 5px blue;
	
}
.modalContent:after  {
	width: 80%;
	height: 1px;
	content: "";
	background-color: black;
	//left: 50%;
	transform: translate(10%,0);
	position: absolute;
	top: 65%;
}
.modalFooter {
	height: 20%;
	border: solid 5px blue;
	display: flex;
	flex-direction: row-reverse;
	
}
.footerContainer{
	margin-left: 10px;
	width: 95%;
	width: 23%;
	height: 100%;
	display: flex;
	flex-direction: row-reverse;
	border: solid 5px red;
}
.footer{
	//margin-left: 10px;
	width: 95%;
	height: 100%;
	display: flex;
	//flex-direction: row-reverse;
	justify-content: space-around;
}


