:root {
	font-size: 16px;
}

.screenSize {
	background-image: url("bck.jpg");
	height: 97vh;
	box-sizing: border-box;
	border-radius: 10px;
	border: solid 5px blue;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.btnArea {
	height: 15vh;
	width: 25vw;
	background-color: green;
	border-radius: 10px;
}

.area {
	height: 15vh;
	width: 25vw;
	border: solid 5px black;
	border-radius: 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: white;
}

.overlay {
	display: none;
	position: absolute;
	background-color: white;
	top:15vh;
	left:15vw;
	height: 60vh;
	width: 60vw;
	border: solid 1px black;
	border-radius: 15px;
}

.modalHeading {
	height: 20%;
}
.heading{
	margin: 0vh 2vw 0vh 2vw;
	padding-top: 3vh;
	height: 50%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.heading:after  {
	width: 100%;
	height: 1px;
	content: "";
	background-color: red;
	transform: translate(-3.4%,0);
	position: absolute;
	top: 20%;
}
.modalContent {
	padding: 0vh 2vw 0vh 2vw;
	height: 59%;
	
}
.modalContent:after  {
	width: 100%;
	height: 1px;
	content: "";
	background-color: black;
	transform: translate(-3.4%,0);
	position: absolute;
	top: 79.5%;
}
.modalFooter {
	height: 20%;
	display: flex;
	flex-direction: row-reverse;
}
.footerContainer{
	margin: 0vh 2vw 0vh 2vw;
	width: 23%;
	height: 60%;
	display: flex;
}
.footer{
	margin-top: 1.5vh;
	width: 95%;
	height: 60%;
	display: flex;
	justify-content: space-between;
}

.close {
	border-radius: 10px;
}
.saveChange {
	border-radius: 10px;
}


