:root {
	font-size: 16px;
}

.screenSize {
	background-image: url("bck.jpg");
	height: 97vh;
	box-sizing: border-box;
	border-radius: 10px;
	border: solid 5px blue;
}

.navContainer {
	background-color: #FF7F50;
	height: 10vh;
	border-radius: 5px;
	border: solid 3px red;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.section1 {
	padding: 1vh 0vw 0vw 0vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.section2 {
	padding: 1vh 0vw 0vw 0vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.pageTitle {
	font-size: 2rem;
	margin: 0vw 0vw 0vw 2vw;
	padding: 0vw 1vw 0vw 2vw;
	height: 8vh;
	width: 8vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	border-radius: 10px;
}

.pageTitle:hover {
	background-color: white;
}


.home {
	padding: 0vw 1vw 0vw 2vw;
	height: 8vh;
	width: 8vw;
	display: flex;
	align-items: center;
	border-radius: 10px;
}

.home:hover {
	background-color: white;
}

.inputSearch {
	margin: 0vw 1vw 0vw 2vw;
	padding: 0vw 1vw 0vw 2vw;
	height: 8.3vh;
	width: 20vw;
	display: flex;
	align-items: center;
	border-radius: 10px;
}

.search {
	margin: 0vw 2vw 0vw 0vw;
	padding: 0vw 1vw 0vw 2vw;
	height: 8.3vh;
	width: 6vw;
	display: flex;
	align-items: center;
	border-radius: 10px;
}

.search:hover {
	background-color: white;
}


.menu {
	display: none;
	width: 7vw;
	height: 100%;
	border-radius: 10px;
	
}

.location{
	margin-top: 25vh;
	height: 8vh;
	width: 99%;
	display: flex;
	justify-content: center;
}

.btnArea {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 15vh;
	width: 25vw;
	background-color: white;
	border-radius: 10px;
}


@media screen and (max-width : 1025px){
	.pageTitle {
		width: 90%;
		margin: 0vw 2vw 0vw 2vw;
		padding: 0vw 1vw 0vw 2vw;
	}
	
	.menu {
		display: flex;
		
	}
	
	.home {
		margin: 0vw 0vw 0vw 2vw;
		padding: 0vw 1vw 0vw 2vw;
		display: none;
		width: 95%
	}
	
	.section2 {
		display: none;
	}
	.section1 {
		width: 100%;
	}
	
}








